[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.8.0"
xhtml2pdf = "==0.2.4"
requests = "==2.21.0"
toml = "==0.10.0"
pyqt5 = "*"

[dev-packages]

[requires]
python_version = "3.8"
